<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Channel Data</title>
    
</head>
<body>
    Name: <%= passData.title %>
    <br>
    <br>
    Channel ID: <%= passData.id %>
    <br>
    <br>
    Description: <%= passData.description %>
    <br>
    <br>
    Country: <%= passData.country %>
    <br>
    <br>
    Channel Creation Date: <%= passData.creationDate %>
    <br>
    <br>
    Total Views: <%= passData.views %>
    <br>
    <br>
    Total Subscribers: <%= passData.subscribers %>
    <br>
    <br>
    Total Videos: <%= passData.videos %>
    <br>
    <br>
    Average # of Views Per Video: <%= passData.viewsPerVideo %>

    
</body>
</html>
